{% extends "layout.njk" %}

{% block content %}

<div class="card">
  <section 
    class="avatar" 
    style="background: url(https://source.unsplash.com/collection/4449454/) no-repeat center center / cover">
  </section>

  <section class="details">
    <h3>Detalhes</h3>
    
    <div class="item">
      <div>Teacher</div>
      <div>Marina</div>
    </div>

    <div class="item">
      <div>Idade</div>
      <div>30</div>
    </div>

    <div class="item">
      <div>Grau de escolaridade</div>
      <div>Feminino</div>
    </div>

    <div class="item">
      <div>Tipo de aula</div>
      <div>À distância</div>
    </div>

    <div class="item">
      <div>Aulas</div>
      <div>
        <span>Português</span>
        <span>Inglês</span>
      </div>
    </div>

    <div class="item">
      <div>Desde</div>
      <div>03/04/2021</div>
    </div>
  </section>
</div>

{% endblock%}