{% extends "layout.njk" %}

 {% block head %}
      <title>Receitas</title>
  {% endblock %}

{% block content %}
    <section class="recipes">
      <div class="card" id="burger">
        <div class="card-img-container">
          <img src="/assets/burger.png" alt="Triplo bacon burger"/>
        </div>
        <div class="card-content">        
          <p id="title">Triplo bacon burger</p>
          <p id="chef">por Jorge Relato</p>
        </div>        
      </div>

      <div class="card" id="pizza">
        <div class="card-img-container">
          <img src="/assets/pizza.png" alt="Pizza 4 estações"/>
        </div>
        <div class="card-content">        
          <p id="title">Pizza 4 estações</p>
          <p id="chef">por Fabiana Melo</p>
        </div>        
      </div>

      <div class="card" id="espaguete">
        <div class="card-img-container">
          <img src="/assets/espaguete.png" alt="Espaguete ao alho"/>
        </div>
        <div class="card-content">        
          <p id="title">Espaguete ao alho</p>
          <p id="chef">por Julia Kinoto</p>
        </div>        
      </div>

      <div class="card" id="lasanha">
        <div class="card-img-container">
          <img src="/assets/lasanha.png" alt="Lasanha mac n' cheese"/>
        </div>
        <div class="card-content">        
          <p id="title">Lasanha mac n' cheese</p>
          <p id="chef">por Juliano Vieira</p>
        </div>        
      </div>

      <div class="card" id="doce">
        <div class="card-img-container">
          <img src="/assets/doce.png" alt="Docinhos pão-do-céu"/>
        </div>
        <div class="card-content">        
          <p id="title">Docinhos pão-do-céu</p>
          <p id="chef">por Ricardo Golves</p>
        </div>        
      </div>

      <div class="card" id="asinhas">
        <div class="card-img-container">
          <img src="/assets/asinhas.png" alt="Asinhas de Frango"/>
        </div>
        <div class="card-content">        
          <p id="title">Asinhas de frango ao barbecue</p>
          <p id="chef">por Vania Steroski</p>
        </div>        
      </div>

      <div class="card" id="burger">
        <div class="card-img-container">
          <img src="/assets/burger.png" alt="Triplo bacon burger"/>
        </div>
        <div class="card-content">        
          <p id="title">Triplo bacon burger</p>
          <p id="chef">por Jorge Relato</p>
        </div>        
      </div>

      <div class="card" id="pizza">
        <div class="card-img-container">
          <img src="/assets/pizza.png" alt="Pizza 4 estações"/>
        </div>
        <div class="card-content">        
          <p id="title">Pizza 4 estações</p>
          <p id="chef">por Fabiana Melo</p>
        </div>        
      </div>

      <div class="card" id="espaguete">
        <div class="card-img-container">
          <img src="/assets/espaguete.png" alt="Espaguete ao alho"/>
        </div>
        <div class="card-content">        
          <p id="title">Espaguete ao alho</p>
          <p id="chef">por Julia Kinoto</p>
        </div>        
      </div>

      <div class="card" id="lasanha">
        <div class="card-img-container">
          <img src="/assets/lasanha.png" alt="Lasanha mac n' cheese"/>
        </div>
        <div class="card-content">        
          <p id="title">Lasanha mac n' cheese</p>
          <p id="chef">por Juliano Vieira</p>
        </div>        
      </div>

      <div class="card" id="doce">
        <div class="card-img-container">
          <img src="/assets/doce.png" alt="Docinhos pão-do-céu"/>
        </div>
        <div class="card-content">        
          <p id="title">Docinhos pão-do-céu</p>
          <p id="chef">por Ricardo Golves</p>
        </div>        
      </div>

      <div class="card" id="asinhas">
        <div class="card-img-container">
          <img src="/assets/asinhas.png" alt="Asinhas de Frango"/>
        </div>
        <div class="card-content">        
          <p id="title">Asinhas de frango ao barbecue</p>
          <p id="chef">por Vania Steroski</p>
        </div>        
      </div>
    </section>  
  
 
{% endblock %}