{% extends "layout.html" %}

{% block head %}
<title>Sobre - Marina Matos</title>
{% endblock %}

{% block content %}
<div id="wrapper">
  <img
    src="https://avatars2.githubusercontent.com/u/45432113?s=460&u=061a17c1eb368b06944edbab236a5780cf68df6f&v=4"
    alt="Marina Matos"/>
  <h1>Marina Matos</h1>
  <h2>Analista de Sistemas</h2>
  <p>Aspirante a desenvolvedora web</p>
</div>

<div class="links links-footer">
  <a href="https://github.com/marimatos" target="_blank">Github</a>
  <a href="https://www.linkedin.com/in/marinamatos/" target="_blank">Linkedin</a>
  <a href="#">Codepen</a>
</div>
{% endblock %}

