{% extends "layoutAdmin.njk" %}

{% block head %}
  <title>Editar Receita</title>
{% endblock %}

{% block content %}
  
  <section class="admin-container">
    <div class="action-menu">
    <h1>Receita: {{recipe.title}}</h1>
    <div class="buttons">
      <button type="submit" form="form-delete" class="button-admin btn-delete">Deletar</button>
      <button type="submit" form="form-edit" class="button-admin">Salvar receita</button>
    </div>
  </div>

    <form id="form-edit" method="POST" action="/admin/recipes?_method=PUT">      
      {% include 'admin/fields.njk' %}
      <input type="hidden" name="id" value="{{recipe.id}}">      
    </form>

     <form id='form-delete' action="/admin/recipes?_method=DELETE" method="post">
      <input type="hidden" name="id" value='{{recipe.id}}'>
    </form>
    

  </section>



<script>
  const formDelete = document.querySelector("#form-delete")
  formDelete.addEventListener("submit", function(event) {
    const confirmation = confirm("Deseja deletar?")
    if(!confirmation) {
      event.preventDefault()
    }
  })
</script>



{% endblock%}