{% extends "layout.njk" %}

 {% block head %}
      <title>Chefs</title>
  {% endblock %}

{% block content %}


<section class="admin-container">
    <div class="chefs-admin">
        {% for chef in chefs %}
        <div class="card" id="burger">
          <div class="card-img-container">
            <img src="{{chef.avatar_url}}" alt="Imagem de {{chef.avatar_url}}"/>
          </div>
          <div class="card-content">
            <p id="chef">{{chef.name}}</p>
            <p>{{chef.total_recipes}} receitas</p>
          </div>        
        </div>
        {% endfor %}
    </div>
       
    
</section>
{% endblock %}