{% extends "layout.njk" %}

{% block header %}
    <form action="/site/recipes" method="GET" id="search">
        <input type="text" name="filter" value="{{ filter }}" placeholder="Buscar uma receita">
        <button type="submit" class="button">Buscar</button>
    </form>
{% endblock header %}

{% block content %}
<div class="intro">
  <img src="/assets/chef.png" alt="Chef">
  <h1>As melhores receitas</h1>
  <p>Aprenda a construir os melhores pratos
  com receitas criadas por profissionais
  do mundo inteiro.</p>      
</div>

<h1 id="info">Mais acessadas</h1>

<section class="recipes">

  {% for recipe in recipes %}

  <div class="card" id="burger">
    <div class="card-img-container">
      <a href="/site/recipes/{{recipe.id}}">
        <img src="{{recipe.image}}" alt="Imagem de {{recipe.title}}"/>
      </a>      
    </div>
    <div class="card-content">      
      <a href="/site/recipes/{{recipe.id}}">{{recipe.title}}</a>
      <p id="chef">por {{recipe.chef_name}}</p>
    </div>        
  </div>

  {% endfor %}

</section>    

{% endblock %}