{% extends "layout.njk" %}

 {% block head %}
      <title>Receitas</title>
  {% endblock %}

{% block content %}
<section class="recipes">

  {% for recipe in recipes %}

  <div class="card" id="burger">
    <div class="card-img-container">
      <a href="/site/recipes/{{recipe.id}}">
        <img src="{{recipe.image}}" alt="Imagem de {{recipe.title}}"/>
      </a>      
    </div>
    <div class="card-content">      
      <a href="/site/recipes/{{recipe.id}}">{{recipe.title}}</a>
      <p id="chef">{{recipe.author}}</p>
    </div>        
  </div>

  {% endfor %}

</section>  
  
 
{% endblock %}