<div class="item">
  <h1>Nome da receita</h1>
  <div>
    <input 
      type="text"
      name="title"
      value="{{recipe.title}}">
  </div>
</div>


<div class="item">
  <h1>Imagem da receita</h1>
  <div>
    <input 
      type="url" 
      name="image" 
      placeholder="http://"
      value="{{ recipe.image }}">
  </div>
</div>

<div class="item">
  <h1>Chef</h1>
  <div class="field-container">
    <select name="chef">
      {% for chef in chefsOptions %}
      <option value="{{chef.id}}" {% if recipe.chef_id == chef.id %} selected {% endif %}>
        {{chef.name}}
      </option>
      {% endfor %}
    </select>
  </div>
</div>
    
<div class="item" id="ingredients">
  <h1>Ingredientes</h1>
  <div class="field-container">
    {% if not recipe.ingredients %}
        <div class="field-container">
            <input type="text" name="ingredients[]" value="" placeholder="Novo ingrediente">
        </div>
    {% endif %}
    {% for ingredient in recipe.ingredients %}
      <div>
        <input type="text" name="ingredients[]" value="{{ ingredient }}">
      </div>
    {% endfor %}
  </div>
  <a class='add-field add-ingredient' onclick='addFields.add(event)'>Adicionar novo ingrediente</a>
</div>
  


<div class="item" id="preparation">
  <h1>Modo de preparo</h1>  
    <div class="field-container">
      {% if not recipe.preparation %}
        <div class="field-container">
          <input type="text" name="preparation[]" value="" placeholder="Adicione um modo de preparo">
        </div>
      {% endif %}
      {% for preparation in recipe.preparation %}
        <div>
          <input type="text" name="preparation[]" value="{{ preparation }}">
        </div>    
      {% endfor %}    
    </div>
  <a class="add-field add-preparation" onclick="addFields.add(event)">Adicionar novo passo</a>
</div>

<div class="item">
  <h1>Informações adicionais</h1>
  <div>
    <textarea name="information">{{ recipe.information }}</textarea>
  </div>
</div>

