@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #111111;
}

header {
  margin: 20px 210px;
}

header a {  
  text-decoration: none;
  font-size: 18px;
  line-height: 28px;
  padding-right: 30px;
  color: rgba(17,17,17,1);
}

header a img {
  margin-right: 122px;
}

header a:hover {
  color: rgb(185, 137, 130);
  transition: color 200ms;
}

.intro {
  background-color: #FBDFDB;
  margin: 0 auto;
  width: 940px;
  height: 366px;
  border-radius: 30px;
  position: relative;
}

.intro h1 {
  font-size: 32px;
  line-height: 42px;
  padding-top: 117px;
  padding-left: 60px;
}

.intro p {
  width: 316px;
  height: 84px;
  margin-top: 10px;
  margin-left: 60px;
  font-size: 18px;
  line-height: 28px;
}

.intro img {  
  float: right;
  margin-right: 100px;
  margin-top: 66px;  
}

#info {
  font-size: 24px;
  line-height: 34px;
  margin-top: 50px;
  margin-left: 205px;
}

.recipes {
  margin: 20px auto;
  max-width: 940px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  grid-row-gap: 30px;
}

.card-img-container img {
  width: 100%;
  border-radius: 15px;
  cursor: pointer;
}

#title {
  font-size: 18px;
  margin-top: 20px;
}

#chef {
  color: rgba(119,119,119,1);
  font-size: 14px;
  margin-top: 5px;
}

footer{
  width: 100%;
  height: auto;
  background-color: rgba(238,238,238,1);
  color: rgba(153,153,153,1);
  text-align: center;
  padding: 20px 0;
}

footer p {
  font-size: 14px;
  margin-top: 23px;
}

/* About */

main {
  width: 940px;
  margin: 50px auto;
}

main h1 {
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 28px;
}

main p {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 30px;
}

.active-page {
  font-weight: 700;
}


/* Recipes */

#recipe {
  text-align: center;
}

#recipe #recipe-img {
  max-width: 940px;
  height: 280px;
  margin-bottom: 50px;
  border-radius: 15px;
}

#recipe h3 {
  font-size: 36px;
  color: #111111;
  line-height: 42px;
}

#recipe p {
  font-size: 20px;
  color: #777777;
  margin-bottom: 50px;
}

.recipe-description h3 {
  font-size: 24px;
  line-height: 28px;
  color: #111111;
  margin-bottom: 20px;
}

.recipe-description .description {
  width: 940px;
  font-size: 18px;
  color: #444444;
  line-height: 28px;
  margin-bottom: 40px;
}

span {
  text-transform: uppercase;
  font-size: 12px;
  color: #999999;
  margin-left: 1.5em;
}

.hide {
  display: none;
}

/*===ADMIN===*/
.header-admin {
  margin: 0;
  width: 100%;
  height: 80px;
  background-color: black;
  color: white;
}

.header-admin .menu-admin a img {
  padding: 30px;
  margin-left: 230px
}

.action-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.action-menu h1 {
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 0;
}

.action-menu .button-admin {
  color: white;
  background: #6558C3;
  border-radius: 4px;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  line-height: 18px;
  cursor: pointer;
  text-decoration: none;
}

.button-admin.btn-delete {
  background: #DC4747;
}

.admin-container {
  width: 940px;
  margin: 50px auto;
}

.admin-container h1{
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 28px;
}

/*Listagem de receitas*/
.recipes-admin {
  margin: 0 auto;
  max-width: 940px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 30px;
}

.recipes-admin .card {
  display: flex;
}

.recipes-admin .card .card-img-container img{
  width: 172px;
  height: 80px;
  margin-right: 20px;
  object-fit: cover;
  object-position: center
}

/*editar receita*/
.item h1{
  font-size: 16px;
  color: #111111;
  margin-top: 30px;
  margin-bottom: 10px;
}

textarea,
.item input {
  display: block;
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  padding: 15px 20px;
  margin-bottom: 10px;
  font-size: 16px;
}

.item a {
  font-size: 16px;
  color: #6558C3;
  text-align: right;
  text-decoration: none;
  cursor: pointer;
}

.item textarea{
  height: 257px;
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  line-height: 24px;
}